[Unit]
Description=Gunicorn instance to serve tpdb
After=network.target

[Service]
User=tpdb
Group=caddy
WorkingDirectory=/var/www/tpdb
Environment="PATH=/var/www/tpdb/venv/bin"
Environment="DJANGO_SETTINGS_MODULE=settings"
EnvironmentFile=/var/www/tpdb/.env
ExecStart=/var/www/tpdb/venv/bin/gunicorn --workers 3 --bind unix:/var/www/tpdb/tpdb.sock myproject.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target